/* 深色模式样式 */
body.dark-mode {
    background-color: #2B333E !important;
    color: #FBF2E3 !important;
}

/* 深色模式样式 */
body.dark-mode .list-group-item{
    background-color: #2B333E !important;
    color: #FBF2E3 !important;
}


/* 深色模式样式 */
body.dark-mode .bg-white{
    background-color: #2B333E !important;
    color: #FBF2E3 !important;
}


/* 深色模式样式 */
body.dark-mode .fixed-buttons{
    background-color: #2B333E !important;
    color: #FBF2E3 !important;
}

